{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block titlePage %} <h1> FORMATION </h1> {% endblock %}

{% block body %}

<div class="contentListFormation">

    <div class="title_page">
        <h1> Liste des formations </h1>
        <hr class="after_title" />
    </div>

    {% if formations %}
    
    {% for formation in formations %}

    <div class="listFormation">
            <a href="{{ path('show_formation', {id: formation.id}) }}"> <h2>{{ formation }}</h2> </a>
            
            <p><strong>Sessions prévues : </strong> 
                {% set count = 0 %}
                {% for session in formation.getSessions() %}
                    {% if session.closed == 0 %}
                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %} {{ count }}</p>
            <p><strong>Sessions close : </strong>
                 {% set count = formation.getSessions()|length - count %} 
                 {{ count }} </p> 
            <p><strong>Nombre de sessions :</strong> {{ formation.getSessions()|length }} </p>

            <a href="{{ path('show_formation', {id: formation.id}) }}" class="viewDetFormation">Voir le detail</a>

            <div class="actionModule">
                <a href="{{ path('edit_formation', {id: formation.id}) }}" class="editModule"> Edit </a>
                {% if formation.getSessions()|length > 0 %}
                    <a href="#" class="cantDelListCateg"> Delete </a>
                {% else %}
                    <a href="{{ path('del_formation', {id: formation.id}) }}" class="deleteListCateg"> Delete </a>                 
                {% endif %}
            </div>
    </div>
    {% endfor %}

    {% endif %}

</div>
{% endblock %}
