{% extends 'base.html.twig' %}

{% block title %}Add formation{% endblock %}

{% block titlePage %} <h1> FORMATION </h1> {% endblock %}

{% block body %}

<div class="contentFormFormation">
    

    {% if edit %}
    <div class="title_page">
        <h1> Edit {{ formation }} </h1>
        <hr class="after_title" />
    </div>
    {% else %}
    <div class="title_page">
        <h1> Ajout Formation </h1>
        <hr class="after_title" />
    </div>
    {% endif %}

    <div class="formFormation">
        <div class="boxFormFormation">
            <h1><span class="blue">FORMATION</span></h1>

    {{ form_start(formAddFormation) }}

        {{ form_row(formAddFormation.name) }}
        {{ form_row(formAddFormation.valider) }}

{{ form_end(formAddFormation) }}

        </div>
    </div>
</div>

{% endblock %}