{% extends 'base.html.twig' %}

{% block title %}Add Programme{% endblock %}

{% block titlePage %} <h1> PROGRAMME </h1> {% endblock %}

{% block body %}

<div class="contentProgramme">

    {% if edit %}
    <div class="title_page">
        <h1> Edit Programme </h1>
        <hr class="after_title" />
    </div>
    {% else %}
    <div class="title_page">
        <h1> Ajout Programme </h1>
        <hr class="after_title" />
    </div>
    {% endif %}

    <div class="formProgramme">
        <div class="boxFormProgramme">
            <h1><span class="blue">PROGRAMME</span></h1>

    {{ form_start(formAddProgramme) }}

        {{ form_row(formAddProgramme.nbDay) }}
        {{ form_row(formAddProgramme.session) }}
        {{ form_row(formAddProgramme.module) }}
        {{ form_row(formAddProgramme.valider) }}

    {{ form_end(formAddProgramme) }}

        </div>
    </div>
</div>

{% endblock %}