{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

<div class="contentDetFormation">

    <div class="title_page">
        <h1> Liste des sessions de la formation <br> {{formation}} </h1>
        <hr class="after_title" />
    </div>

    {% if sessions %}
    
        {% for session in sessions %}

            <div class="listDetFormation">

                <a href="{{ path('show_session', {id: session.id}) }}"> <h2>{{ session }}</h2> </a>
                <p><u>Date de début :</u> <span class="blue"> {{ session.startDate|date("d/m/Y") }} </span></p>
                <p><u>Date de fin :</u> <span class="blue"> {{ session.endDate|date("d/m/Y") }} </span></p>
            
                <p><u>Nombre de place :</u>

                    {% if session.nbAvailable == 0 %}

                        <span class="red"> {{ session.nbAvailable }} / {{ session.nbPlace }} </span></p>

                    {% else %}
                    
                        <span class="green"> {{ session.nbAvailable }} / {{ session.nbPlace }} </span></p>

                    {% endif %} 

                    <div class="closeOpen">

                        {% if session.nbAvailable == 0 or session.closed == 1 %}
                            {% if session.closed == 1 %}

                                <p><span class="red"> Fermée à l'inscription (Close)</span></p>

                            {% else %}

                        <p><span class="red"> Fermée à l'inscription (Complet)</span></p>

                            {% endif %}

                        {% else %}

                            <p><span class="green"> Ouvert à l'inscription </span></p>

                        {% endif %}
                    </div>

                <div class="DetSessionModule">

                <h3>Modules</h3>
                    <ul>

                        {% for programme in session.getProgrammes() %}
                            {% if programme.session.id == session.id %}

                            <li><a href="{{ path('show_module', {id: programme.module.id}) }}">{{ programme.module.name }}</a></li>     

                            {% endif %}
                        {% endfor %}
                    </ul>

                    <span class="detailBtnModule"><a href="{{ path('show_formation', {id: session.id}) }}">Détails des modules</a></span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> Aucune Session dans cette formation</p>
    {% endif %}

</div>
{% endblock %}
