{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block titlePage %} <h1> REGISTRATION </h1> {% endblock %}

{% block body %}

<section class="contentFormFormation">

    <div class="title_page">
        <h1> Inscription </h1>
        <hr class="after_title" />
    </div>

    <div class="formStudent">
        <div class="boxFormStudent">
            <h1><span class="blue">INSCRIPTION</span></h1>

{{ form_errors(registrationForm) }}

{{ form_start(registrationForm) }}
<div class="formsError">
<div class="row">
    <div class="col-sm">
        {{ form_row(registrationForm.name) }}
    </div>
    <div class="col-sm">
        {{ form_row(registrationForm.lastName) }}
    </div>
</div>

    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password',
        label: 'Repeat Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    {{ form_row(registrationForm.valider) }}
</div>
{{ form_end(registrationForm) }}

        </div></div>

</section>
{% endblock %}
