{% extends 'base.html.twig' %}

{% block title %}Add category{% endblock %}

{% block titlePage %} <h1> CATEGORIE </h1> {% endblock %}

{% block body %}

<section class="contentCategory">

    {% if edit %}
        <div class="title_page">
            <h1> Edit {{ category }} </h1>
            <hr class="after_title" />
        </div>
    {% else %}
        <div class="title_page">
            <h1> Ajout catégorie </h1>
            <hr class="after_title" />
        </div>
    {% endif %}

    <div class="formCategory">
        <div class="boxFormCategory">
            <h1><span class="blue">CATÉGORIE</span></h1>

            {{ form_start(formAddCategory) }}
                <div class="formsError">
                    {{ form_row(formAddCategory.name) }}
                    {{ form_row(formAddCategory.valider) }}
                </div>

            {{ form_end(formAddCategory) }}

        </div>
    </div>
    <p class="champObligatoire">* Champ obligatoire</p>
</section>

{% endblock %}