{% extends 'base.html.twig' %}

{% block title %}Add category{% endblock %}

{% block body %}

<div class="contentCategory">

    {% if edit %}
        <div class="title_page">
            <h1> Edit catégorie {{ category }} </h1>
            <hr class="after_title" />
        </div>
    {% else %}
        <div class="title_page">
            <h1> Ajout catégorie </h1>
            <hr class="after_title" />
        </div>
    {% endif %}

    {{ form_start(formAddCategory) }}

        {{ form_row(formAddCategory.name) }}
        {{ form_row(formAddCategory.valider) }}

{{ form_end(formAddCategory) }}

{% endblock %}