{% extends 'base.html.twig' %}

{% block title %}Add Student{% endblock %}

{% block body %}

<div class="contentFormStudent">


    {% if edit %}
    <div class="title_page">
        <h1> Edit {{ student }} </h1>
        <hr class="after_title" />
    </div>
    {% else %}
    <div class="title_page">
        <h1> Ajout Stagiaire </h1>
        <hr class="after_title" />
    </div>
    {% endif %}

    <div class="formStudent">
        <div class="boxFormStudent">
            <h1><span class="blue">STAGIAIRE</span></h1>
    {{ form_start(formAddStudent) }}


        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddStudent.name) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddStudent.lastName) }}
            </div>
        </div>

        {{ form_row(formAddStudent.birthday) }}

        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddStudent.city) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddStudent.sexe) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddStudent.email) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddStudent.phoneNumber) }}
            </div>
        </div>

        {{ form_row(formAddStudent.valider) }}
        </div>
    </div>

{{ form_end(formAddStudent) }}


</div>
{% endblock %}