{% extends 'base.html.twig' %}

{% block title %}Detail Stagiaire{% endblock %}

{% block titlePage %} <h1> STAGIAIRE </h1> {% endblock %}

{% block body %}

<div class="contentDetStudent">

<div class="title_page">
    <h1> {{ student.lastName|upper }} {{ student.name }} </h1>
    <hr class="after_title" />
</div>

<div class="cardStudent">

    <div class="boxStudent">
        <div class="title">
            <h3><u><strong>Information</strong></u></h3>
            <div class="actionStudent">
                <a href="{{ path('edit_student', {id: student.id}) }}" class="editStudent"> Edit </a>
                <button type="button" class="buttonModal deleteListModule" data-id="{{ student.id }}" data-entity="student" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Delete
                  </button>
            </div>
        </div>

        <div class="infoStudent">
            <p><strong>Sexe : </strong> {{ student.sexe }} </p>
            <p><strong>Date de naissance : </strong> {{ student.birthday|date("d/m/Y") }} ({{ student.Age }} ans)</p>
            <p><strong>Ville : </strong> {{ student.city }} </p>
            <p><strong>Email : </strong> {{ student.email }} </p>
            <p><strong>Téléphone : </strong> {{ student.phoneNumber }} </p>

            <h3><u><strong>Formation prévues / en cours</strong></u></h3>

            <ul>
                {% for session in student.Sessions %}
                    <li>
                        
                        <button type="button"  class="buttonModalDelStagiaire deleteListStudent" data-idsession="{{ session.id }}" data-idstudent="{{ student.id }}" data-entity="session" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            DEL
                          </button>
                        <a href="{{ path('show_formation', {id: session.id}) }}">
                            
                            {# <a href="{{ path('del_StudentSession', {sessionId: session.id, studentId: student.id, returnStudent: true}) }}" title="desinscrire Stagiaire"><i class="fa-solid fa-x red"></i></a>  #}

                              {{ session.formation.name }}
                        </a><br> 
                        <span class="dateFormation">
                            (du {{ session.startDate|date('d-m-Y') }} au {{ session.endDate|date('d-m-Y') }})
                                {% if session.enCours %}
                                    <strong>> En cours</strong>
                                    {% elseif session.prochainement %}
                                    <strong>> Non commencée</strong>
                                    {% else %}
                                    <strong>> Terminée</strong>
                                {% endif %}
                                
                        </span>
                    </li><br>
                {% endfor %}
            </ul>
        </div>
    </div>


</div>

</div>
{% endblock %}