{% extends 'base.html.twig' %}

{% block title %}Detail Formateur{% endblock %}

{% block titlePage %} <h1> FORMATEUR </h1> {% endblock %}

{% block body %}

<div class="contentDetStudent">

<div class="title_page">
    <h1> {{ formateur.lastName|upper }} {{ formateur.name }} </h1>
    <hr class="after_title" />
</div>

<div class="cardStudent">

    <div class="boxStudent">
        <div class="title">
            <h3><u><strong>Information</strong></u></h3>
            <div class="actionStudent">
                <a href="{{ path('edit_formateur', {id: formateur.id}) }}" class="editStudent"> Edit </a>
                <a href="{{ path('delete_formateur', {id: formateur.id}) }}" class="deleteStudent"> Delete </a>
            </div>
        </div>

        <div class="infoStudent">
            <p><strong>Nom : </strong> {{ formateur.lastName|upper }} </p>
            <p><strong>Prénom : </strong> {{ formateur.name }}</p>

            <h3><u><strong>Référent formation :</strong></u></h3>

            <ul>
                {% for session in formateur.getReferent() %}
                    <li>
                        <a href="{{ path('show_formation', {id: session.id}) }}">
                            {{ session.formation.name }} 
                        </a><br> 
                        <span class="dateFormation">
                            (du {{ session.startDate|date('Y-m-d') }} au {{ session.endDate|date('Y-m-d') }})

                                {% if session.enCours %}
                                    <strong>> En cours</strong>
                                {% elseif session.prochainement %}
                                    <strong>> Non commencée</strong>
                                {% else %}
                                    <strong>> Terminée</strong>
                                {% endif %}
                                
                        </span>
                    </li><br>
                {% endfor %}
            </ul>
        </div>
    </div>


</div>

</div>
{% endblock %}