{% extends 'base.html.twig' %}

{% block title %}Add Module{% endblock %}

{% block titlePage %} <h1> MODULE </h1> {% endblock %}

{% block body %}

<section class="contentModule">

    {% if edit %}
    <div class="title_page">
        <h1> Edit Module : {{ module }} </h1>
        <hr class="after_title" />
    </div>
    {% else %}
    <div class="title_page">
        <h1> Ajout Module </h1>
        <hr class="after_title" />
    </div>
    {% endif %}

    <div class="formModule">
        <div class="boxFormModule">
            <h1><span class="blue">MODULE</span></h1>

    {{ form_start(formAddModule) }}

        {{ form_row(formAddModule.name) }}
        {{ form_row(formAddModule.description) }}
        <p>Balise autorisé : &lt;strong&gt; / &lt;list&gt;  (•) / &lt;br&gt; </p>
        {{ form_row(formAddModule.category) }}
        {{ form_row(formAddModule.valider) }}

    {{ form_end(formAddModule) }}
        </div>
    </div>
    <p class="champObligatoire">* Champ obligatoire</p>
</section>

{% endblock %}