{% extends 'base.html.twig' %}

{% block title %}Detail Module{% endblock %}

{% block titlePage %} <h1> MODULE </h1> {% endblock %}

{% block body %}

<div class="contentDetModule">

    <div class="title_page">
        <h1>Detail du module {{ module.name }}</h1>
        <hr class="after_title" />
    </div>
    
    <div class="cardDetModule">
        <div class="detModule">
            <p> {{ module.description|replace({'<strong>' : '<strong>', '</strong>' : '</strong>', '<list>' : '•', '<br>' : '<br>'})|raw }} </p>
            <p><strong> Catégorie : </strong>{{ module.category.name }} </p>
        </div>
    </div>

    <div class="actionModule">
        <a href="{{ path('edit_module', {id: module.id}) }}" class="editModule"> Edit </a>
        <a href="{{ path('delete_module', {id: module.id}) }}" class="deleteModule"> Delete </a>
    </div>


</div>

{% endblock %}