<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
        
        
        <script src="https://kit.fontawesome.com/a34c2ac31d.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/listFormation.css') }}">
        {% endblock %}
    </head>
    <body>

            <div class="wrapper">
                <div class="nav">
                    <h1>SESSION</h1>
                    <span class="button"><a href="#">Creat Formation</a></span>

                    <div class="menu_nav">

                        <div class="dashboard">
                            <i class="fa-solid fa-chart-line"></i>
                                <p>Dashboard</p>
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>

                        <div class="dashbord_liste">
                            <ul>
                                <li><a href="{{ path('app_formation') }}">Formation</a></li>
                                <li><a href="{{ path('app_listSession') }}">Session</a></li>
                                <li><a href="{{ path('app_listModule') }}">Module</a></li>
                                <li><a href="{{ path('app_listCategory') }}">Category</a></li>
                                <li><a href="{{ path('app_listStudent') }}">Student</a></li>
                            </ul>
                        </div>

                        <div class="ajouts">
                            <i class="fa-solid fa-chart-line"></i>
                                <p>Add form</p>
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
    
                        <div class="ajouts_liste">
                            <ul>
                                <li><a href="{{ path('new_formation') }}">Formation</a></li>
                                <li><a href="{{ path('new_session') }}">Session</a></li>
                                <li><a href="{{ path('new_module') }}">Module</a></li>
                                <li><a href="{{ path('new_programme') }}">Programme</a></li>
                                <li><a href="{{ path('new_category') }}">Category</a></li>
                                <li><a href="{{ path('new_student') }}">Student</a></li>
                            </ul>
                        </div>

                        {% if app.user %}
                            <a href="{{ path('app_logout') }}">Logout</a>

                            {% else %}

                            <a href="{{ path('app_register') }}">Register</a>
                            <a href="{{ path('app_login') }}">Login</a>
                        {% endif %}
                    </div>

                </div>
                <div class="content">

                    <div class="topScreen">
                        <h1>Formation</h1>

                        <div class="searchBar">

                            <form action="#" method="post" enctype="multipart/form-data"> <!-- Formulaire pour envoyer un produit -->

    
                                <input type="search" class="research" name="research" placeholder="Research">
                                <button type="submit" name="submit" class="fa-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>

                            </form>

                        </div>

                        <div class="topScreenUser">
                            <i class="fa-regular fa-bell"></i>
                            {% if app.user %}
                                <div class="userNameRole">
                                    <p> {{ app.user.name }} </p>
                                    <p>   {{ app.user.roles[0]|replace({'ROLE_' : ''}) }} </p>
                                       
                                </div>
                                    <figure>
                                        <img src="{{ absolute_url(asset('img/default.webp')) }}" alt="user avatar">
                                    </figure>
                                        
                                {% else %}

                                <p>Hello visiteur !</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    {% block body %}{% endblock %}

                </div>
            </div>
            {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
            {% endblock %}
    </body>
</html>
